<footer>
    <div class='row'>
        <div class='col'>
            <h4>Plan du site</h4>
            <ul>
                <li><a href='A Propos'>A Propos</a></li>
                <li><a href='CGU'>CGU</a></li>
                <li><a href='RGPD'>RGPD</a></li>
                <li><a href='PCD'>Politique de Confidentialité</a></li>
            </ul>
        </div>
</footer>