<header>
    <div class="logo">
        <a href="sncfv">Logo</a>
    </div>
    <div id="search-container">
        <input type="text" id"search-imput" placheholder="Recherche...">
        <button  class="burger-icon_1" aria-label="Depot" aria-expanded="false" onclick="toggleMenu()">
        <button id="serch-button" onclick="performSearch()">Rechercher</button>
        <nav class="nav_burger_1">
            <ul>
                <li><a href="sncfv">Trappes</a></li>
                <li><a href="sncfv">Les Ardoines</a></li>
                <li><a href="sncfv">Joncherolles</a></li>
                <li><a href="sncfv">Villeneuve</a></li>
            </ul>
        </nav>
    </div>

</header>